*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

button{
  padding: 10px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin: 10px;
}
